<div class="d-flex align-items-center justify-content-center">
  <h1>Members Only</h1>
</div>
  <h2 class="d-flex aling-items-center justify-content-center">
    Welcome <%= current_user.present? ? current_user.username : "visitor"%>! 
  </h2>

  <%= render @posts %>
</div>




