<div class="d-flex aling-items-center justify-content-between">
  <h1>Posts  </h1> 
  <%= link_to "New Post", posts_new_path, class: "btn btn-primary" %>
</div>

  <h2>
    Welcome <%= current_user.present? ? current_user.email : "visitor"%>! 
  </h2> 
</div>
  <p><%= render @posts %> "
